.auth-main{
    display: flex;
    /* justify-content: space-around; */
    min-width: 100%;
    padding: 0;
    margin: 0;
    max-height: 100vh;
    background-color: #fff;
}

.auth-info{
    flex-basis: 50%;
    
}

.auth-outlet{
    flex-basis: 50%;
    margin: auto;
    max-height: 90vh;
}

.auth-forms{
width: 100%;
padding-top: 1rem;

}
